
*{
    box-sizing: border-box;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color:#6488ea;
}
nav{
    text-align: center;
}
.projectCard{
    list-style: none;
}
.projectDetails{
    list-style: none;
}
.header{
    background: url("../../Imgs/header.jpeg");
    background-size: 95% 25%; 
    background-position: center top;
    background-repeat: no-repeat;
    width: auto;
}
img{
    border: 5px solid #555;
    background:rgba(67, 68, 71, 0.9);
    margin-left: auto;
    margin-right: auto;
}